body {
  background-color: #f4f4f4;
  margin: 20px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
#container h4 {
  text-align: center;
  color: rgb(51, 50, 50);
  margin-bottom: 40px;
}
#rangeValue,
#rangeValueText {
  text-transform: uppercase;
  color: #666161;
}
